@import "tailwindcss";
@import "@make-the-change/core/css";
@import "@make-the-change/core/css/themes/client";
@import "../styles/theme-definitions.css";

@source "../**/*.{ts,tsx}";

@theme {
  --animate-blob: blob 7s infinite;
  --animate-shimmer: shimmer 2s linear infinite;
  --animate-gradient: gradient 8s ease infinite;

  @keyframes blob {
    0% {
      transform: translate(0px, 0px) scale(1);
    }
    33% {
      transform: translate(30px, -50px) scale(1.1);
    }
    66% {
      transform: translate(-20px, 20px) scale(0.9);
    }
    100% {
      transform: translate(0px, 0px) scale(1);
    }
  }

  @keyframes shimmer {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(100%);
    }
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
